package.json
package-lock.json
README.md
translationKeys.json
.prettierignore
.flowconfig
.eslintignore
.gitattributes

src/version.json

/**/.gitignore
.idea/*
/**/*.png
/**/*.jpg
/**/*.svg
/**/*.ico
